body {
  font-family: 'adam', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: $white;
  overflow-x: hidden;
  letter-spacing: 0.4rem;

  button{
    font-family: 'adam', sans-serif;
    font-weight: normal;
  }
}
